html {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans serif;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        #F3F3F3,
        #F3F3F3 10%,
        #0FD8D8 60%,
        #0FD8D8 80%);
    background-repeat: no-repeat;
}

.content {
    max-width: 65%;
    max-height: 100%;
    margin: 75px auto;
    border-radius: 6px;
    background-color: white;
}

.form {
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 10px;
}

.progress {
    width: 80%;
    display: inline-block;
    text-align: center;
}

.progress-bar {
    background-color: #0FD8D8;
    margin-bottom: 20px;
    border-radius: 16px;
}

.bar-pink {
    height: 26px;
    width: 33%;
    background-color: #FF33CE;
    color: white;
    border-radius: 16px;
}

.categories {
    width: 100%;
    display: inline-block;
}

.button {
    background-color: #F3F3F3;
    width: 33.3%;
    border: none;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

button:hover {
    background-color: #FF33CE;
    color: white;
}

.Hotels {
    margin-left: -4px;
    margin-right: -4px;
}

.row1 {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
}

.locations {
    display: inline-block;
}

.from-location2 {
    color: #7E7E7E;
}

.from {
    -webkit-appearance: none;
    background-color: #F3F3F3;
    padding: 8px 20px;
    border: none;
}

.from-location1 {
    width: 45%;
}

.to-location1 {
    width: 45%;
}

.to-location2 {
    color: #7E7E7E;
}

.to {
    -webkit-appearance: none;
    background-color: #F3F3F3;
    padding: 8px 20px;
    border: none;
}

.row2 {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
}

.dates {
    display: inline-block;
    border: none;
}

.depart {
    width: 45%;
    color: #7E7E7E;
}

.departure-date {
    border: none;
    padding: 8px 8px;
    background-color: #F3F3F3;
}

.return {
    width: 45%;
    color: #7E7E7E;
}

.return-date {
    border: none;
    padding: 8px 8px;
    background-color: #F3F3F3;
}

.next-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.next {
    display: block;
    margin: 20px auto 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0FD8D8;
    color: white;
    border: none;
    border-radius: 16px;
}

.next:hover {
    background-color: #D52CAC;
}