@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);

body {
    margin: 0;
    padding: 0;
    background: #3F51B5;
}

.wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(20px);
    left: calc(50% - 75px);
}

.sun {
    position: absolute;
    bottom: 70px;
    opacity: 0;
    right: 80px;
    width: 85px;
    height: 85px;
    background: #f9db62;
    border-radius: 360px;
    opacity: 1;
}

.cloud {
    position: absolute;
    bottom: 30px;
    left: 8px;
    z-index: 2;
    opacity: 1;
}

.cloud1 {
    position: absolute;
    bottom: 0px;
    z-index: 5;
}

.cloud1:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 28px;
    width: 90px;
    height: 20px;
    background: #fff;
}

.cloud1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cloud1 ul li {
    width: 50px;
    height: 50px;
    background: #fff;
    float: left;
    border-radius: 360px;
}

.cloud1 ul li:nth-child(2) {
    width: 70px;
    height: 70px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 18px;
    left: 25px;
}

.cloud1 ul li:nth-child(3) {
    width: 60px;
    height: 60px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 8px;
    left: 60px;
}

.cloud1 ul li:last-child {
    width: 50px;
    height: 50px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 0px;
    left: 90px;
}