html {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans serif;
    height: 100%;
}

.content {
    max-width: 65%;
    max-height: 100%;
    margin: 75px auto;
    border-radius: 6px;
    background-color: none;
}

.form {
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 10px;
}